<configuration>
   <system.webServer>
         <staticContent>
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".gif" />
         </staticContent>
   </system.webServer>
</configuration>