<configuration>
   <system.webServer>
         <staticContent>
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".JPG" mimeType="image/vnd.sealedmedia.softseal.jpg" />
            <mimeMap fileExtension=".gif" />
         </staticContent>
   </system.webServer>
</configuration>